<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Hello, World!</h1>
        <h2>The date and time on the server is: {{ time }}</h2>
        <p>You need to refresh this page to see the updated data</p>
        <hr>
        <p>Sensors and Fans Session is running: {{project_running}}</p>
        <hr>
        <a href="/">Back to main page</a>
        <hr>
        <a href="/createcsv">create a csv</a>
        <table class="data-table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Sensor A Value</th>
                    <th>Sensor B Value</th>
                    <th>Fan Value</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                    <tr>
                        <td>{{ row[0] }}</td> <!-- Date -->
                        <td>{{ row[1] }}</td> <!-- Time -->
                        <td>{{ row[2] }}</td> <!-- Sensor A Value -->
                        <td>{{ row[3] }}</td> <!-- Sensor B Value -->
                        <td>{{ row[4] }}</td> <!-- Fan Value -->
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <hr>
    </div>
</body>
</html>
