<!DOCTYPE html>
   <head>
      <title>{{ title }}</title>
   </head>
   <body>
      <h1>Hello, World!</h1>
      <h2>The date and time on the server is: {{ time }}</h2>
      <p>You need to refresh this page to see update the data</p>
      <hr>
      {{ project_running }}
      <table>
         <thead>
         <tr>
            <th>Date</th>
            <th>Sensor A</th>
            <th>Sensor B</th>
            <th>Fan</th>
         </tr>
         </thead>
       
         <tbody>
            {% for group in data %}
                {% for row in group %}
                    <tr>
                        <td>{{ row[0] }}</td>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                        <td>{{ row[3] }}</td>
                        <td>{{ row[4] }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
         </tbody>
      
      </table>
      


      <hr>
      <a href="/">back to main</a>  
   </body>
</html>
